### Step 1, 2 & 3. Import the necessary libraries, import thedatasets and assign each to a variable called cars1 and cars2

In [0]:
import pandas as pd
import numpy as np

In [0]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

In [3]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [4]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [0]:
cars1 = cars1.loc[:,'mpg':'car']

In [9]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [10]:
print(cars1.shape[0])

print(cars2.shape[0])

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [11]:
cars = pd.concat([cars1,cars2])

cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199,97,2774,15.5,70,1,amc hornet
17,21.0,6,200,85,2587,16.0,70,1,ford maverick
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104,95,2375,17.5,70,2,saab 99e
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360,215,4615,14.0,70,1,ford f250
26,10.0,8,307,200,4376,15.0,70,1,chevy c20
27,11.0,8,318,210,4382,13.5,70,1,dodge d200
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
170,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
171,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
172,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
173,29.0,4,135,84,2525,16.0,82,1,dodge aries se
174,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix
175,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura
176,23.0,4,151,?,3035,20.5,82,1,amc concord dl
177,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l
178,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l
179,31.0,4,91,68,1970,17.6,82,3,mazda glc custom
180,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser
181,36.0,4,98,70,2125,17.3,82,1,mercury lynx l
182,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe
183,36.0,4,107,75,2205,14.5,82,3,honda accord
184,34.0,4,108,70,2245,16.9,82,3,toyota corolla
185,38.0,4,91,67,1965,15.0,82,3,honda civic
186,32.0,4,91,67,1965,15.7,82,3,honda civic (auto)
187,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx
188,25.0,6,181,110,2945,16.4,82,1,buick century limited
189,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
190,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
191,22.0,6,232,112,2835,14.7,82,1,ford granada l
192,32.0,4,144,96,2665,13.9,82,3,toyota celica gt
193,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2
194,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [18]:
owners = np.random.randint(low=15000, high=73001, size=398)
owners

array([72340, 40984, 49051, 35995, 29840, 19734, 26901, 52787, 60904,
       20726, 72151, 65214, 43402, 67034, 37440, 56592, 44740, 30671,
       34887, 29909, 56194, 60716, 19914, 63138, 47441, 42923, 65712,
       58521, 40982, 45490, 66397, 40456, 68560, 36388, 17304, 25996,
       48864, 18301, 56578, 41871, 64409, 20621, 52955, 39142, 68994,
       44434, 69662, 21881, 48533, 65825, 15405, 27995, 30654, 47193,
       50777, 17404, 72011, 49410, 23558, 72287, 53137, 70369, 29406,
       65912, 37828, 15718, 18425, 63708, 40975, 58666, 58219, 53957,
       22144, 66522, 58911, 18090, 26262, 66416, 32114, 41700, 65874,
       32873, 46771, 26350, 27436, 67585, 68322, 25044, 36294, 25869,
       66725, 21318, 30912, 70660, 67366, 17751, 61693, 43936, 59610,
       31570, 64723, 24895, 65335, 35838, 72049, 37699, 58542, 55563,
       52020, 63498, 32648, 60256, 29401, 27758, 60837, 68568, 27712,
       34288, 54493, 32841, 63540, 27877, 58429, 63992, 28173, 44307,
       61555, 48915, 24914, 47202, 65814, 69286, 68304, 17253, 37954,
       72618, 32079, 48621, 18672, 60664, 64820, 53580, 19633, 21117,
       44781, 59497, 64633, 30765, 55294, 64700, 44039, 31667, 65411,
       56009, 32509, 21154, 23088, 38811, 60097, 21131, 42329, 35871,
       17756, 33052, 19560, 70178, 54274, 71303, 22160, 21789, 53298,
       38027, 47799, 34335, 43847, 17549, 30730, 51066, 72961, 26345,
       65180, 60083, 66228, 55922, 38427, 37410, 43975, 41996, 27984,
       21428, 71751, 55044, 41495, 28207, 55838, 28468, 18625, 71633,
       59074, 39526, 67632, 36780, 43657, 44672, 47349, 18505, 66780,
       30643, 44254, 61120, 66936, 43834, 62435, 60460, 30172, 43595,
       69326, 58400, 22531, 62848, 37245, 28407, 68448, 67558, 34314,
       16189, 31716, 71012, 68347, 34269, 48126, 48917, 30421, 22674,
       36550, 41077, 23656, 49381, 16136, 30580, 66964, 66590, 30012,
       22786, 49882, 52829, 16312, 17332, 69305, 57415, 44012, 72011,
       41189, 31719, 43290, 26204, 21656, 54277, 23004, 31883, 45622,
       49183, 35471, 63093, 23131, 53779, 44188, 60497, 58771, 34809,
       46693, 67249, 19761, 58622, 55945, 52508, 55060, 22613, 19189,
       18374, 15707, 40701, 53721, 26511, 57859, 20878, 48094, 63867,
       50761, 34608, 20431, 28200, 53422, 61540, 49882, 67674, 61448,
       70840, 50016, 21604, 39283, 38243, 61035, 70056, 67330, 57402,
       50645, 63915, 59533, 30723, 31349, 64506, 18119, 70638, 52720,
       30973, 68742, 18892, 37460, 24761, 72617, 72650, 26354, 61661,
       57025, 42904, 22020, 60738, 28560, 33091, 50488, 36777, 24205,
       37611, 58728, 50014, 47527, 30662, 48533, 65252, 28837, 26742,
       35004, 54366, 47196, 34939, 24894, 58957, 59434, 18649, 56844,
       32100, 31416, 49259, 41781, 38741, 60347, 42388, 72288, 44293,
       72245, 58929, 15779, 55017, 20052, 59088, 24943, 37681, 38163,
       64245, 58343, 67163, 58543, 44966, 43867, 47127, 65917, 22806,
       62679, 59937, 71875, 68508, 58055, 40421, 35919, 72545, 68515,
       54697, 47212, 62185, 45580, 55073, 60221, 15101, 42325, 53973,
       16099, 27001])

### Step 8. Add the column owners to cars

In [0]:
cars['owners'] = owners

In [20]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,72340
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,40984
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,49051
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,35995
4,17.0,8,302,140,3449,10.5,70,1,ford torino,29840
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,19734
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,26901
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii,52787
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina,60904
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,20726
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se,72151
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340,65214
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo,43402
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw),67034
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii,37440
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster,56592
16,18.0,6,199,97,2774,15.5,70,1,amc hornet,44740
17,21.0,6,200,85,2587,16.0,70,1,ford maverick,30671
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510,34887
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan,29909
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504,56194
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls,60716
22,25.0,4,104,95,2375,17.5,70,2,saab 99e,19914
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002,63138
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin,47441
25,10.0,8,360,215,4615,14.0,70,1,ford f250,42923
26,10.0,8,307,200,4376,15.0,70,1,chevy c20,65712
27,11.0,8,318,210,4382,13.5,70,1,dodge d200,58521
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d,40982
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510,45490
...,...,...,...,...,...,...,...,...,...,...
170,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon,38163
171,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door,64245
172,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback,58343
173,29.0,4,135,84,2525,16.0,82,1,dodge aries se,67163
174,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix,58543
175,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura,44966
176,23.0,4,151,?,3035,20.5,82,1,amc concord dl,43867
177,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l,47127
178,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l,65917
179,31.0,4,91,68,1970,17.6,82,3,mazda glc custom,22806
180,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser,62679
181,36.0,4,98,70,2125,17.3,82,1,mercury lynx l,59937
182,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe,71875
183,36.0,4,107,75,2205,14.5,82,3,honda accord,68508
184,34.0,4,108,70,2245,16.9,82,3,toyota corolla,58055
185,38.0,4,91,67,1965,15.0,82,3,honda civic,40421
186,32.0,4,91,67,1965,15.7,82,3,honda civic (auto),35919
187,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx,72545
188,25.0,6,181,110,2945,16.4,82,1,buick century limited,68515
189,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel),54697
190,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion,47212
191,22.0,6,232,112,2835,14.7,82,1,ford granada l,62185
192,32.0,4,144,96,2665,13.9,82,3,toyota celica gt,45580
193,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2,55073
194,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro,60221
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,15101
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,42325
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,53973
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,16099
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,27001